<div class="m-3">
  <div class="titre-index-realties my-3">
    <h2>Bienvenue, <%= current_user.email %></h2>
  </div>
  <div class="container_indexsports">
    <ul>
      <% @sports.each do |sport| %>
        <p><%= sport.name %></p>
        <p><%= sport.teams %></p>
        <%= link_to "Visualiser", sport_path(sport) %>
      <% end %>
    </ul>
  </div>
  <div class="bouton_ajout">
    <%= link_to 'Nouvel entrainement', new_sport_path %>
  </div>
</div>
