<div class="container_showsports">
  <h1>Détails du sport</h1>
  <p>Nom : <%= @sport.name %></p>
  <p>Équipes : <%= @sport.teams %></p>
  <p>Joueurs : <%= @sport.players %></p> <%= link_to "Stat", sport_numbers_path(@sport) %>

</div>
<%= link_to "Supprimer", sport_path(@sport), data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer ce document ?" } %>
