<h1>Details joueurs</h1>
  <p>Nom: <%= @player.name %></p>
  <p>Taille : <%= @player.size %></p>
  <p>Poids : <%= @player.height %></p>
  <p>Position : <%= @player.position %></p>
  <%= link_to "Voir les statistiques", url_for([@sport, @player, :numbers]) %>
  <br>
  <%= link_to "Mettre à jour le joueur", edit_sport_player_path %>
